<div class="container mt-3">
	<div class="row justify-content-center">
		<div *ngFor="let note of notes" class="note-item">			
			<div class="note-header">
				<button class="btn btn-sm btn-warning mr-1" (click)="delete(note.noteid)">Delete</button>
				<button class="btn btn-sm btn-info" (click)="select(note.noteid)">Select</button>
			</div>

			<div class="note-content" [innerHtml]="note.content" (click)="openNote(note.noteid)">				
			</div>
		</div>
	</div>
</div>

<selection-list></selection-list>