<div id="header" class="container-fluid p-1">
	<div *ngIf="!isAuthenticated" class="row">
		<div class="col-2">
			{{title}}
		</div>
		 
		<div class="col-3 offset-2 input-group align-self-end">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">@</span>
			</div>
			<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
		</div>	
	
		<div class="col-3 input-group align-self-end">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">**</span>
			</div>
			<input type="password" class="form-control" placeholder="Passphasae" aria-label="Passphasae" aria-describedby="basic-addon1">
		</div>

		<div class="col-2 align-self-end">
			<button type="button" class="btn btn-primary"> Login </button>
			FB login		
			<button type="button" class="btn btn-info" (click)="openModal(template)"> Register </button>
		</div>
	</div>

	<div *ngIf="isAuthenticated" class="row">
	</div>
</div>

<router-outlet> </router-outlet>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
			Just a few stepps
		</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      		<span aria-hidden="true">&times;</span>
    	</button>
    </div>
    <div class="modal-body">
		<div class="input-group flex-nowrap pb-2">
			<div class="input-group-prepend">
				<span class="input-group-text" id="addon-wrapping">@</span>
			</div>
			<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
		</div>

		<div class="input-group flex-nowrap pb-2">
			<div class="input-group-prepend">
				<span class="input-group-text" id="addon-wrapping">@</span>
			</div>
			<input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
		</div>

		<button type="button" class="btn btn-info" (click)="register()">Lets try!</button>
	</div>
</ng-template>